body{overflow-x:hidden}
.page-id-2177{overflow-x:hidden}
.randum-fnt{font-size:18px}
.kege{font-size:22px;margin-right:5px}
@media (min-width:1375px){
.section-theme-3 .section-header h2{font-size:51px}
}
.section-theme-3 .section-header{font-size:17px}
@media (min-width:1200px){
.section-theme-3 .matched-jobs-block .section-header h2{font-size:40px;letter-spacing:.5px}
}
.explore-jobs-block .section-header h2{letter-spacing:.3px}
p.hforfont{font-size:17px}
.section-theme-3 .section-header h2{font-weight:700}
body.page-template-full-page-template-php.page.page-id-1266{overflow-x:hidden}
.page-id-2240 .visual-textbox h1{font-size:45px}
.page-id-2240 .visual-theme-9 .form-search .btn{background:#3f71ef!important}
.bg-transparent{background-color:transparent!important}
span.text-outlined{font-weight:800}
@media (min-width:1200px){
.browse_categories .recruite_text_info h2{font-size:56px}
}
a.category-text{ color:#8d8d8d; }
.section-theme-9 .section-header h2{font-weight:700}
.section-9{padding-bottom:0!important}
.section-testi-9{padding:25px 0 0 0!important}
.section-theme-9.works_area .list li .icon{margin-right:19px!important}
.section-theme-8.section-explores{padding-top:0!important}
.page-id-2489 .section-theme-10 .section-header h2{font-weight:700}
@media (min-width:1200px){
.page-id-2489 .section-theme-10 .jobs-frame .job-content h3{font-weight:700}
}
a.ltsyled{text-decoration:none!important}
.showhead{font-weight:700!important}
.section-theme-10 .inner-frm h3{font-weight:600}
.counter-stats strong.h2{font-weight:700}
.companies-hiring-block h2{font-weight:700}
.text-frm h3{font-weight:700}
.visal-theme-6{font-family:Epilogue,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";background-color:#fff;background-repeat:no-repeat;background-size:contain;background-position:center top}
.padtophelvn{padding:0!important}
.theme-faq-banner{margin-top:100px}
.page-link{color:#fff!important;background:#ffca1d!important;border-color:#ffca1d!important;width:46px!important;height:46px!important;font-size:20px!important}
.pagination .page-link{width:46px!important;height:46px!important;font-size:20px!important}
.page-numbers{width:40px;height:40px;border-radius:100%;display:flex;align-items:center;justify-content:center;background:#f5f5f5;border-color:#f5f5f5;color:#2c2c2c;font-size:16px;line-height:1.5;font-weight:600;padding:10px}
.pagination .page-link{width:40px;height:40px;border-radius:100%;display:flex;align-items:center;justify-content:center;background:#f5f5f5;border-color:#f5f5f5;color:#2c2c2c;font-size:16px;line-height:1.5;font-weight:600;padding:10px}
.banner-themep{font-size:18px}
.theme_seven_sec{padding-top:0}
.theme_sevenb{padding-bottom:0!important}
.about_btns{width:100%;height:100%;display:flex;align-items:center;justify-content:center;border:6px solid #ffca1d;border-radius:100%}
.compnay_listf{font-size:15px;font-weight:600}
.clock_icong{font-size:25px;margin-right:7px}
.bookmark_icong{font-size:22px}
.job_detmrn{font-size:20px;line-height:1;color:#ffca1d;margin:0 10px 0 0}
.cndi-bn-pd{padding-top:120px}
.featured_jobp{padding-bottom:0!important}
.remote_jobt{padding-top:0!important}
.help_question_heading{font-weight:700!important}
.candidate-pb{padding-bottom:0!important}
.cadidate-theme-pb{padding-bottom:0}
.vc_col-has-fill>.vc_column-inner,.vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner,.vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner,.vc_row-has-fill>.vc_column_container>.vc_column-inner{padding:0!important}
.jobcircle-icon-upload-cloud{line-height:1;margin:0 10px 0 0;font-size:24px}
.btn-all .jobcircle-icon-chevron-right{width:70px;height:70px;font-size:24px;border-radius:100%;border:5px solid #d5fe68;display:flex;align-items:center;justify-content:center;color:#000;line-height:1;font-weight:700;margin:0 0 0 20px;transition:.3s}
.btn-all:hover .jobcircle-icon-chevron-right{background-color:#d5fe68}
.section-theme-3 .btn-all .jobcircle-icon-chevron-right{border-color:#f9ab00}
.section-theme-3 .btn-all:hover .jobcircle-icon-chevron-right{background-color:#f9ab00}
.section-theme-8 .btn-all .jobcircle-icon-chevron-right{border-color:#fe7420;background:#fe7420;color:#fff}
.section-theme-8 .btn-all:hover .jobcircle-icon-chevron-right{background-color:#fff;color:#000}
.recent_atical-pt{padding-top:0!important}
.dingont{border:none;border-color:none;background:0 0}
.page-id-3090{overflow-x:hidden}
a.cat-color-theme-9{color:#fff}
a.cat-color-theme-9:hover{color:#3f71ef}
a.cat-color-theme-12{color:#fff}
a.cat-color-theme-12:hover{color:#ffb901}
a.cat-color-theme-14{color:#fff}
a.cat-color-theme-14:hover{color:#30854e}
.detail_pagep p{font-size:17px}
.details_list_p li{font-size:17px}
section.section.section-theme-9.browse_categories_over_recruite{padding:60px 0 0 0!important}
.page-id-3896{overflow-x:hidden}
.page-id-3901{overflow-x:hidden}
.steps-list li .jobcircle-icon-check{width:22px;height:22px;border-radius:100%;display:flex;align-items:center;justify-content:center;background:#4ab166;color:#fff;font-size:12px;line-height:1;flex-shrink:0;margin:0 10px 0 0}
@media (min-width:1200px){
.steps-list li .jobcircle-icon-check{width:28px;height:28px;font-size:14px}
}
.avtar-igm img{border-radius:50%;width:62px;height:61px}
.th-font{font-size:36px}
.th-padng{padding-top:0!important}
.brnd-offre{padding-bottom:0!important}
.section-theme-16.faq_block .accordion_list li .title{font-size:22px}
.th-good{padding-top:0!important}
.contact-2{padding-top:100px!important}
.section-theme-1.section-about{color:#000}
.section-about.our-company.section-theme-1{padding-bottom:0!important}
.section-about.our-counter.section-theme-1{padding-top:0!important}
a.title-color{color:#000}
a.title-color{color:#000}
a.btn_upload{gap:10px}
.pagination .not-allowed{ cursor: not-allowed; color:#aba3a3 !important;}
.pagination .page-item .page-numbers.not-allowed:hover{background:none !important; color:#aba3a3 !important;}
.section-theme-14.jobs_waiting .wrap-holder{padding:0 60px 27px 80px!important}
.find-job-p{background:#db3478;color:#fff;padding:17px 41px!important;font-size:16px;border-radius:50px}
.vry-godd{font-size:17px}
.contact-box .textbox .address{padding:0 26px!important}
.contact-support .contact-box address{padding-right:5px}
.th-pdfont{padding-right:10px;font-size:23px;padding-bottom:0!important}
.sidebar.sidebar-theme-1 .widget_categories{margin-top:20px}
.sidebar.sidebar-theme-1 .widget_links{margin-top:20px}
.sidebar.sidebar-theme-1 .widget_newsletter{margin-top:20px}
.page-id-3098 .sidebar-theme-1 ul{background:#fff09d;margin:-13px 0 0 0;padding:0 0 25px 0;border-radius:0 0 20px 20px}
.page-id-3098 .sidebar-theme-1 ul li{list-style:none}
.page-id-3098 .sidebar-theme-1 ul li a{color:#555}
.widmarn{margin-top:25px}
.visal-theme-6 .buttons-block.pt-10.pb-30.pt-lg-50 button.btn{margin-right:10px}
.visal-theme-6 .footer-info .form-subscribe form button.btn{padding:10px 28px;font-size:17px;color:#000}
.cover-area{margin-top:100px}
.discover_info_holder .list li .icon{padding-right:25px!important}
.jobcircle-applybtns-holder{display:flex;gap:10px;margin-bottom:15px}
.jobcircle-applybtns-holder a{display:inline-block;padding:5px 15px;border-radius:5px;color:#fff;background-color:#000;font-size:14px}
.jobcircle-applybtns-holder a.applyjob-with-facebook{background-color:#4267b2}
.jobcircle-applybtns-holder a.applyjob-with-google{background-color:#f73f2f}
.jobcircle-applybtns-holder a.applyjob-with-linkedin{background-color:#0270ad}
.jobcircle-applybtns-holder a:hover{color:#fff}
section.section.section-theme-17.browse_categories.browse-cat{padding-bottom:0!important}
section.section.section-theme-17.browse_categories.make-resume{padding-top:0;padding-bottom:0;margin-top:-117px!important}
section.section.section-theme-17.browse_categories.usa-job{padding-top:0!important;padding-bottom:0!important}
section.section.section-theme-17.browse_categories.client-reviews{padding-top:0!important}
section.section.section-theme-17.featured_Jobs_Block.discover-company{padding-top:0}
.form-search .form-group .icon{padding-bottom:22px;margin-left:0}
.featured-box .stats-list .icon{padding-bottom:25px}
time.text{padding-top:10px}
.joblix-list .icon-box .jobcircle-icon-camera1{font-size:80%}
p.order-1.home-5{margin-bottom:0}
section.section.section-news.my-style.pt-35.pb-10.pt-md-50.pb-md-0.pt-lg-70.pb-lg-30.pb-xl-60{padding-bottom:0!important}
.row.mystyle{margin-bottom:60px}
.jobcircle-job-attachments iframe{max-width:100%!important}
.section-theme-10 .jobs-frame .icons div:not(:last-child){margin-right:7px;padding:3px 15px 15px 0}
@media (min-width:1200px){
.pricing-plan .price sup{font-size:50px;left:-5px}
}
.subvisual-theme-1.block-404{background-image:url(https://modern.miraclesoftsolutions.com/wp-content/plugins/jobcircle-framework//images/visual-inner-theme1.jpg)!important;background-repeat:no-repeat!important;background-size:cover!important}
.subvisual-theme-1.block-404 h1{color:var(--colorPrimary)}
.active .page-link{background-color:var(--colorPrimary) !important;}
.active .page-link{border-color:var(--colorPrimary) !important;}
.subvisual-theme-1.block-404 .form-subscribe .btn{background-color:var(--colorPrimary)!important}
.modal-content{padding:20px}
.modal-content .modal-headers{position:absolute;top:5px;right:10px;z-index:999}
.modal-content .modal-headers a{display:inline-block;padding:10px;line-height:1px;font-size:24px;color:#db3478}
.modal-content form a{color:#000!important}
.form-fields-group{display:flex;gap:20px}
.form-fields-group .form-group{flex:0 0 calc(50% - 10px)}
.modal-content form .form-group{margin:0 0 10px}
.modal-content form input[type=email],.modal-content form input[type=number],.modal-content form input[type=password],.modal-content form input[type=text]{padding:5px 15px}
.modal-content form textarea{border-radius:10px;padding:10px 15px;min-height:130px}
.jobcircle-userlogin-popup .login-pop-form{max-width:550px}
.jobcircle-formsubmit-btn{display:inline-block;outline:0;border:none;line-height:20px;padding:8px 15px 9px;margin:10px 0;border-radius:5px;background-color:#0270ad;color:#fff;min-width:100px}
.filter-box .button-search{top:35%!important}
.page-id-3085 .candidate-post:hover a{box-shadow:none!important}
body.page-id-3085{overflow-x:hidden}
a.btn.btn-green.btn-sm.buttonpe{padding:10px 15px!important}
.conserve{margin-top:75px!important}
.comdetil{padding-bottom:35px!important}
.slideglery{padding:20px 12px 20px 12px!important}
.call-to-action button.btn.btn-sm.btn-orange a{color:#fff!important}
.page-id-3098 .sidebar{border:0 solid #ccc!important}
p.techno{display:inline}
.blogbtm{margin-bottom:0!important}
.simtitle{color:#000;font-size:26px!important}
.form-styles p{margin-bottom:0!important}
.sectipedng{padding-bottom:70px!important}
.aplbitn{padding-top:0!important}
.box-holder .job-info .textbox h3.h5{color:#000!important}
.bullmrgn{margin-bottom:0!important}
.social-share .jobcircle-icon-instagram{color:#e1306c;font-size:26px}
.social-share .jobcircle-icon-twitter{color:#1d9bf0;font-size:28px}
.social-share .jobcircle-icon-facebook{color:#1b3d8d}
.comdetil .form-condidates textarea.form-control{height:180px}
.section-theme-10 .pricing-plan .price sup{font-size:30px!important}
.candidate-info-title .title{font-weight:700!important}
.post.singlepost-theme-1 blockquote:before{border-radius:100%;background-position:center center!important;content:""!important;top:40px!important;left:10px!important;margin:0!important;transform:none!important}
#mapstyel #map{height:350px!important}
.jobcircle-recaptcha-holdrcon{position:relative}
.jobcircle-recaptcha-holdrcon .recaptcha-reload-a{position:absolute;top:25px;left:150px;font-size:13px;color:#007400!important;}
.candidate_info .info_holder .h5,.candidate_info .location_info li .text,.featured-category-box .h6 a,.featured-category-box .textbox a,.footer-theme-1 .sec-footer p a,.job-card .info-row strong a,.job-card h3 a,.jobs_info_holder .info_holder .h5 a,.jobs_info_holder .location_info li .text a,.news-post .post-by strong a,.popular-jobs-box .textbox a,.post-footer .post-author a,.searches_holder .search_result.pding a,.textbox .subtitle a,.top_companies_block .detail_box .btn a,.trending-box .text-holder{
    color:black;
}
.myflex{display:flex}
.page-id-129 .wpb_column .vc_column_container .vc_col-sm-12{margin-top:-70px!important}
.header-theme-16 .main-nav div{display:flex!important}
.header-theme-14 .main-nav div{display:flex!important}
@media (min-width:992px){
.header-theme-17 .main-nav div{display:flex!important}
}
.stars_wrap .icon{width:11.2px!important;height:11.5px!important;line-height:1!important}
.subvisual-theme-1 .form-subscribe .btn.btn-search .jobcircle-icon-search{font-size:20px;line-height:1;margin:0 10px 0 0}
.btn .btn-white .btn-sm .news{padding:16px 37px 14px!important}
.candidate_info a:hover,.jobs_info_holder a:hover{text-decoration:none!important}
.jobs-card .btn-green:focus{color:currentColor}
.sspan span{font-size:14px!important;font-weight:400!important}
.anctag:hover .icostyle{background-color:#ff6b2c;color:#fff}
@media (max-width:991.98px){
.nav-drop{flex-direction:column!important}
}
.subclass sub{position:inherit;font-weight:400;font-size:14px}
a.btn-all.mybtn:hover{color:#f9ab00}
.browse_categories .get_matched .icon-holder .icon{margin-left:0}
.footer-theme-14 .form-newsletter .btn{background-color:var(--colorPrimary) !important;}
@media (min-width:1375px){
.companies-hiring-block .slide .companies-carousel-box{padding:45px 39px 39px}
}
@media (max-width:978px){
    .footer-theme-4 .btn {
    width: 87%;
    margin-top: 10px;
    }
}
@media (max-width:768px){
    .footer-theme-4 .btn {
   width: 77%;
    }
}
@media (min-width:1200px){
.companies-hiring-block .slide .companies-carousel-box{border-radius:30px}
}
@media (min-width:992px){
.companies-hiring-block .slide .companies-carousel-box{padding:20px;border-radius:20px}
}
.companies-hiring-block .slide .companies-carousel-box{height:100%;display:flex;padding:15px;color:#444;position:relative;border-radius:15px;flex-direction:column;border:1px solid #e0e0e0;justify-content:space-between}
.jobcircle-auth{margin:-31px 0 0 25px}
.frmae-icon a i{padding:10px;border-radius:50%;background-color:#ffe1bd}
.icostyle{display:flex;font-size:18px;border-radius:50%;width:40px;height:40px;align-items:center;background:#ebebeb;justify-content:center;transition:all ease-in-out .3s;margin-right:12px}
.anctag:hover .icostyle{background-color:#ff6b2c;color:#fff}
.icomrn{margin-right:7px}
.icomrnlef{margin-left:10px}
.anctag:hover{background-color:#ff6b2c;color:#fff}
.bar-icon{padding-left:50px!important}
.bar-icon .icon{left:54px!important}
.forms-jin{margin:0 20px 0 -34px!important}
.page-id-3336 .section-theme-4{padding-top:0!important}
.page-id-304 .video-box .about_btns:before{margin:0 0 0 5px;content:"";border-style:solid;border-width:12px 0 12px 18px;border-color:transparent transparent transparent #ffca1d}
.myicon i{color:#fff}
.section-theme-1 .slick-dots li.slick-active button{border-color:#20ca6f;background:#fff!important}
.lgn-cls{padding:0 20px}
.contact-support .contact-box .icon-holder i{color:#fff}
.logo-eighteen{display:flex;font-size:24px;border-radius:50%;width:40px;height:40px;align-items:center;background:0 0;justify-content:center;transition:all ease-in-out .3s;margin-right:0}
.section-theme-10 .jobs-frame .jobs-card p a{color:#666!important;font-size:15px}
.subvisual-theme-1.bg-dark-green{background-image:url(https://modern.miraclesoftsolutions.com/wp-content/plugins/jobcircle-framework//images/visual-inner-theme1.jpg)!important;background-repeat:no-repeat!important;background-size:cover!important}
.pagination .page-item .page-numbers:hover{background:var(--colorPrimary)!important;color:#fff!important}
.pagination .page-item:first-child .page-numbers,.pagination .page-item:last-child .page-numbers{font-size:28px!important;background:0 0;border:1px solid var(--colorPrimary)!important;color:#000}
.pagination .page-item .page-link,.pagination .page-item .page-numbers{width:58px!important;height:58px!important}
.section-theme-1 .filter-box .buttonShowMore{background:0 0!important}
.sidebar.sidebar-theme-1 .widget.widget_categories ul li a:hover{color:#fff!important}
.section-theme-1.latest-news-block.latest-blog .news-post .btn.btn-green{background:0 0!important}
.candidate-box .icon-box{border:6px solid #fff!important}
.single-jobs .similar-section .featured-box .stats-list li:first-child{width:100%}
.single-jobs .similar-section .featured-box .stats-list li{width:50%}
.section-job-details .text-holder p a{text-decoration:underline;color:#000!important;font-weight:600}
.textdecore{text-decoration:underline;font:18px bold}
.header-theme-17 .navigation .text-login{margin:0 8px 0 5px;padding:4px 37px 4px 29px;border:1px solid #fff;border-radius:50px;display:inline-flex;align-items:center;position:relative;font-weight:700}
.header-theme-17 .top-bar{padding-bottom:10px}
.header-theme-17 .navigation .text-login .icon{display:block;margin-right:12px;margin-top:-5px}
.header-theme-7 .top-bar .social-links-top .list-inline-item:not(:last-child):after{top:50%;right:0;content:"";position:absolute;background:#d2d2d2;width:2px;height:16px;transform:translateY(-50%)}
@media (min-width:1200px){
.sticky-header .header-theme-7 .main-nav{padding:7px 0}
}
.header-theme-17 .navigation .text-login{margin:0 8px 0 5px;padding:4px 37px 4px 29px;border:1px solid #fff;border-radius:50px;display:inline-flex;align-items:center;position:relative;font-weight:700}
.header-theme-17 .top-bar{padding-bottom:10px}
.header-theme-17 .navigation .text-login .icon{display:block;margin-right:12px}
.header-theme-5 .nav-opener .nav-drop .user-box .btn.btn-green.btn-sm{border-radius:10px}
.header-theme-5 .btn:hover:before{background:0 0}
@media (max-width:991.98px){
.nav-drop{flex-direction:column!important}
}
.subclass sub{position:inherit;font-weight:400;font-size:14px}
a.btn-all.mybtn:hover{color:#f9ab00}
.browse_categories .get_matched .icon-holder .icon{margin-left:0}
@media (min-width:1375px){
.companies-hiring-block .slide .companies-carousel-box{padding:45px 39px 39px}
}
@media (min-width:1200px){
.companies-hiring-block .slide .companies-carousel-box{border-radius:30px}
}
@media (min-width:992px){
.companies-hiring-block .slide .companies-carousel-box{padding:20px;border-radius:20px}
}
.companies-hiring-block .slide .companies-carousel-box{height:100%;display:flex;padding:15px;color:#444;position:relative;border-radius:15px;flex-direction:column;border:1px solid #e0e0e0;justify-content:space-between}
.jobcircle-auth{margin:-31px 0 0 25px}
.visal-theme-10 .form-search .form-control{padding:8px 0!important;font-size:14px}
@media (min-width:768px){
.visal-theme-10 .form-search .form-group{width:100%;padding:0 21px!important;border-radius:0}
}
.cate{font-weight:400!important;font-family:inherit;font-size:inherit;color:inherit!important}
.page-id-3336 .pagination-block{padding-bottom:5.25rem!important}
@media (min-width:768px){
.jobs-card .price-box .price{font-size:16px!important}
}
.det-cls-two{margin-top:100px!important}
.video-box .btn-play .icon-play:before{margin:0 0 0 5px;content:"";border-style:solid;border-width:12px 0 12px 18px;border-color:transparent transparent transparent #ffca1d}
.social-networks.no-bg li a{background:0 0!important}
.contact-support .contact-box .icon-holder i{color:#fff}
.lgn-cls{padding:0 20px}
.featured-jobs-carousel-end{overflow:hidden}
.section-theme-13 .featured-jobs-carousel-end .slick-box{padding:0 10px}
.section-theme-13 .featured-jobs-carousel-end .slide{display:flex;padding:15px;background:#fff;border-radius:15px;flex-direction:column;border:1px solid #d2d2d2}
@media (min-width:992px){
.section-theme-13 .featured-jobs-carousel-end .slide{padding:20px;border-radius:20px}
}
@media (min-width:1200px){
.section-theme-13 .featured-jobs-carousel-end .slide{padding:27px;border-radius:30px}
}
.section-theme-13 .featured-jobs-carousel-end .slide:hover{border-color:transparent}
.section-theme-13 .featured-jobs-carousel-end .icon{margin:0 0 15px;overflow:hidden;border-radius:15px;width:80px;height:80px}
@media (min-width:992px){
.section-theme-13 .featured-jobs-carousel-end .icon{width:100px;height:100px}
}
.section-theme-13 .featured-jobs-carousel-end .icon img{width:100%;height:auto;display:block}
.section-theme-13 .featured-jobs-carousel-end .posted-by{display:block;font-size:14px;margin:0 0 5px;color:#666}
.section-theme-13 .featured-jobs-carousel-end .posted-by a{font-weight:700;color:#666;text-decoration:underline}
.section-theme-13 .featured-jobs-carousel-end .posted-by a:hover{text-decoration:none}
.section-theme-13 .featured-jobs-carousel-end h3{font-size:18px;margin:0 0 10px;line-height:1.273}
.section-theme-13 .featured-jobs-carousel-end .tags-items{display:flex;font-size:12px;color:#666;margin:0 0 10px}
.section-theme-13 .featured-jobs-carousel-end .tags-items li:not(:last-child){margin-right:15px}
.section-theme-13 .featured-jobs-carousel-end .price{display:block;font-size:16px;margin:0 0 5px;font-weight:700}
.section-theme-13 .featured-jobs-carousel-end .price sub{bottom:0;font-size:12px;position:relative}
.section-theme-13 .featured-jobs-carousel-end .tags-list{margin:0 0 15px -4px}
.section-theme-13 .featured-jobs-carousel-end .tags-list .tag{border:0;font-size:12px;color:#333;min-width:inherit;background:#fef2d9}
.section-theme-13 .featured-jobs-carousel-end .left-time{color:#000;display:block;margin:0 0 10px;font-size:14px;font-weight:700}
.section-theme-13 .featured-jobs-carousel-end .btn-apply{font-size:14px;color:#007456;padding:14px 35px;margin:0 -6px -6px;background:#e5f1ee}
@media (min-width:992px){
.section-theme-13 .featured-jobs-carousel-end .btn-apply{margin:0 -11px -11px}
}
@media (min-width:1200px){
.section-theme-13 .featured-jobs-carousel-end .btn-apply{margin:0 -18px -18px}
}
.section-theme-13 .featured-jobs-carousel-end .btn-apply:hover{color:#fff;background:#007456}
@media (min-width:992px){
.section-theme-13 .slick-dots{margin:40px 0 0}
}
@media (min-width:992px){
.related-categories.related-services .jobs-listing-classic02 .slick-arrow,.related-categories.related-services .quotes-slider .slick-arrow,.related-categories.related-services .services-carousel .slick-arrow,.related-categories.section-categories .jobs-listing-classic02 .slick-arrow,.related-categories.section-categories .quotes-slider .slick-arrow,.related-categories.section-categories .services-carousel .slick-arrow,.related-categories.section-quotes .jobs-listing-classic02 .slick-arrow,.related-categories.section-quotes .quotes-slider .slick-arrow,.related-categories.section-quotes .services-carousel .slick-arrow{display:block!important}
}
.related-categories.related-services .jobs-listing-classic02 .slick-arrow:hover,.related-categories.related-services .quotes-slider .slick-arrow:hover,.related-categories.related-services .services-carousel .slick-arrow:hover,.related-categories.section-categories .jobs-listing-classic02 .slick-arrow:hover,.related-categories.section-categories .quotes-slider .slick-arrow:hover,.related-categories.section-categories .services-carousel .slick-arrow:hover,.related-categories.section-quotes .jobs-listing-classic02 .slick-arrow:hover,.related-categories.section-quotes .quotes-slider .slick-arrow:hover,.related-categories.section-quotes .services-carousel .slick-arrow:hover{background:#20ca6f}
@media (min-width:992px){
.related-categories.related-services .jobs-listing-classic02 .slick-dots,.related-categories.related-services .quotes-slider .slick-dots,.related-categories.related-services .services-carousel .slick-dots,.related-categories.section-categories .jobs-listing-classic02 .slick-dots,.related-categories.section-categories .quotes-slider .slick-dots,.related-categories.section-categories .services-carousel .slick-dots,.related-categories.section-quotes .jobs-listing-classic02 .slick-dots,.related-categories.section-quotes .quotes-slider .slick-dots,.related-categories.section-quotes .services-carousel .slick-dots{display:none!important}
}
.popular-jobs-block .jobs-listing-classic02 .slick-arrow{display:none!important}
@media (min-width:768px){
.popular-jobs-block .jobs-listing-classic02 .slick-dots{margin-top:45px}
}
.featured-job-listing .jobs-listing-classic02 .slick-arrow{display:none!important}
.jobs-listing-classic02{margin:0 -15px}
.jobs-listing-classic02 .classic02-item{padding:0 15px 15px}
.talented-expert-block .jobs-listing-classic02{z-index:1}
.talented-expert-block .jobs-listing-classic02:after{position:absolute;content:"";width:43px;height:84px;background:url(../images/pattern-ico.png) no-repeat;background-size:100% 100%;bottom:120px;left:-82px}
@media (min-width:992px){
.talented-expert-block .jobs-listing-classic02 .classic02-item{padding-bottom:0}
}
@media (max-width:991.98px){
.talented-expert-block .jobs-listing-classic02 .slick-arrow{display:none!important}
}
@media (min-width:992px){
.talented-expert-block .jobs-listing-classic02 .slick-dots{display:none!important}
}
.latest-jobs-deserve02 .slick-list{margin:0 -10px;overflow:visible!important}
.latest-jobs-deserve02 .slick-track{display:flex!important}
.latest-jobs-deserve02 .deserve02-item{padding:0 10px 18px;height:inherit!important}
@media (min-width:992px){
.latest-jobs-deserve02 .deserve02-item{padding:0 15px 18px}
}
.latest-jobs-deserve02 .deserve02-item.slick-center .inner-frame{box-shadow:0 10px 18px 0 rgba(0,0,0,.1)}
.latest-jobs-deserve02 .deserve02-item>div{height:100%}
.latest-jobs-deserve02 .deserve02-item{height:100%}
.latest-jobs-deserve02 .deserve02-item .inner-frame{height:100%;position:relative;background:#fff;border-radius:15px;padding:15px 15px 5px;border:1px solid #d5d5d5}
@media (min-width:992px){
.latest-jobs-deserve02 .deserve02-item .inner-frame{border-radius:20px;padding:20px 20px 10px}
}
@media (min-width:1200px){
.latest-jobs-deserve02 .deserve02-item .inner-frame{border-radius:30px;padding:30px 40px 20px}
}
.latest-jobs-deserve02 .deserve02-item .inner-frame:hover{box-shadow:0 10px 18px 0 rgba(0,0,0,.1)}
.latest-jobs-deserve02 .deserve02-item .inner-frame a{height:100%;display:flex;flex-direction:column;justify-content:space-between}
.latest-jobs-deserve02 .deserve02-item .fav-tag{top:11px;right:11px;position:absolute;width:36px;height:36px}
.latest-jobs-deserve02 .deserve02-item .fav-tag img{display:block;width:100%;height:auto}
.latest-jobs-deserve02 .deserve02-item .slide-top{overflow:hidden;margin:0 0 30px}
.latest-jobs-deserve02 .deserve02-item .icon{overflow:hidden;margin:0 0 15px;border-radius:50%;width:60px;height:60px}
@media (min-width:992px){
.latest-jobs-deserve02 .deserve02-item .icon{width:89px;height:89px}
}
.latest-jobs-deserve02 .deserve02-item .icon img{display:block;width:100%;height:auto}
.latest-jobs-deserve02 .deserve02-item h3{font-size:18px;line-height:1.6;font-weight:700;text-transform:none}
@media (min-width:992px){
.latest-jobs-deserve02 .deserve02-item h3{font-size:20px}
}
.latest-jobs-deserve02 .deserve02-item .post-by{display:block;font-size:14px;font-weight:500;color:#333;line-height:normal}
.latest-jobs-deserve02 .deserve02-item .price{color:#000;display:block;margin:0 0 10px;font-weight:700;font-size:16px}
@media (min-width:992px){
.latest-jobs-deserve02 .deserve02-item .price{font-size:18px;margin:0 0 20px}
}
.latest-jobs-deserve02 .deserve02-item .price sub{bottom:0;font-size:12px;font-weight:400;position:relative}
@media (min-width:992px){
.latest-jobs-deserve02 .deserve02-item .price sub{font-size:14px}
}
.latest-jobs-deserve02 .deserve02-item .tags-list .tag{background:#f5f5f5}
@media (min-width:768px){
.latest-jobs-deserve02 .slick-dots{margin:30px 0 0}
}
@media (min-width:992px){
.latest-jobs-deserve02 .slick-dots{margin:40px 0 0}
}
@media (min-width:1200px){
.latest-jobs-deserve02 .slick-dots{margin:58px 0 0}
}
.latest-jobs-deserve02 .slick-dots li{padding:0 4px}
.latest-jobs-deserve02 .slick-dots li button{border-radius:1px;width:60px;height:3px;border-color:#feb559}
@media (min-width:992px){
.latest-jobs-deserve02 .slick-dots li button{width:71px}
}
.latest-jobs-deserve02 .slick-dots li.slick-active button,.latest-jobs-deserve02 .slick-dots li:hover button{border-color:#feb559;background:#feb559}
@media (min-width:992px){
.related-categories.related-services .jobs-listing-demand02 .slick-arrow,.related-categories.related-services .quotes-slider .slick-arrow,.related-categories.related-services .services-carousel .slick-arrow,.related-categories.section-categories .jobs-listing-demand02 .slick-arrow,.related-categories.section-categories .quotes-slider .slick-arrow,.related-categories.section-categories .services-carousel .slick-arrow,.related-categories.section-quotes .jobs-listing-demand02 .slick-arrow,.related-categories.section-quotes .quotes-slider .slick-arrow,.related-categories.section-quotes .services-carousel .slick-arrow{display:block!important}
}
.related-categories.related-services .jobs-listing-demand02 .slick-arrow:hover,.related-categories.related-services .quotes-slider .slick-arrow:hover,.related-categories.related-services .services-carousel .slick-arrow:hover,.related-categories.section-categories .jobs-listing-demand02 .slick-arrow:hover,.related-categories.section-categories .quotes-slider .slick-arrow:hover,.related-categories.section-categories .services-carousel .slick-arrow:hover,.related-categories.section-quotes .jobs-listing-demand02 .slick-arrow:hover,.related-categories.section-quotes .quotes-slider .slick-arrow:hover,.related-categories.section-quotes .services-carousel .slick-arrow:hover{background:#20ca6f}
@media (min-width:992px){
.related-categories.related-services .jobs-listing-demand02 .slick-dots,.related-categories.related-services .quotes-slider .slick-dots,.related-categories.related-services .services-carousel .slick-dots,.related-categories.section-categories .jobs-listing-demand02 .slick-dots,.related-categories.section-categories .quotes-slider .slick-dots,.related-categories.section-categories .services-carousel .slick-dots,.related-categories.section-quotes .jobs-listing-demand02 .slick-dots,.related-categories.section-quotes .quotes-slider .slick-dots,.related-categories.section-quotes .services-carousel .slick-dots{display:none!important}
}
.popular-jobs-block .jobs-listing-demand02 .slick-arrow{display:none!important}
@media (min-width:768px){
.popular-jobs-block .jobs-listing-demand02 .slick-dots{margin-top:45px}
}
.featured-job-listing .jobs-listing-demand02 .slick-arrow{display:none!important}
.jobs-listing-demand02{margin:0 -15px}
.jobs-listing-demand02 .demand02-item{padding:0 15px 15px}
.talented-expert-block .jobs-listing-demand02{z-index:1}
.talented-expert-block .jobs-listing-demand02:after{position:absolute;content:"";width:43px;height:84px;background:url(../images/pattern-ico.png) no-repeat;background-size:100% 100%;bottom:120px;left:-82px}
@media (min-width:992px){
.talented-expert-block .jobs-listing-demand02 .demand02-item{padding-bottom:0}
}
@media (max-width:991.98px){
.talented-expert-block .jobs-listing-demand02 .slick-arrow{display:none!important}
}
@media (min-width:992px){
.talented-expert-block .jobs-listing-demand02 .slick-dots{display:none!important}
}
.subvisual-theme-1.bg-dark-green{background-image:url(https://modern.miraclesoftsolutions.com/wp-content/plugins/jobcircle-framework//images/visual-inner-theme1.jpg)!important;background-repeat:no-repeat!important;background-size:cover!important}
.pagination .page-item .page-numbers:hover{background:#20ca6f!important;color:#fff!important}
.pagination .page-item:first-child .page-numbers,.pagination .page-item:last-child .page-numbers{font-size:28px!important;background:0 0;border:1px solid #20ca6f!important;color:#000}
.pagination .page-item .page-link,.pagination .page-item .page-numbers{width:58px!important;height:58px!important}
.section-theme-1 .filter-box .buttonShowMore{background:0 0!important}
.sidebar.sidebar-theme-1 .widget.widget_categories ul li a:hover{color:#fff!important}
.section-theme-1.latest-news-block.latest-blog .news-post .btn.btn-green{background:0 0!important}
.candidate-box .icon-box{border:6px solid #fff!important}
.contact-support .contact-box .icon-holder{background:#fff!important}
.contact-support .contact-box .icon-holder i{color:var(--colorPrimary)!important}
.jobcircle-icon-search{margin-bottom:0!important}
.jc-icun a img{width:52px!important;height:52px!important}
.candidate-details{margin-bottom:33px!important}
.featured-category-box .btn.btn-dark-yellow:not(:hover){color:#000!important;background:#f4f1e9}
.icon-holder .jc-image-size img{width:68px;height:62px}
.bordre-radius img{border-radius:50px}
.box .brdr,.brdr img{border-radius:25px!important}
.brdrj img{border-radius:38px!important}
.brdrr,.brdrj{padding:0px!important}
.brdrr img{width:120px!important}
@media (min-width:768px){
.jc-form-marg{margin:0 50px 0 0!important;padding:0 0 0 70px!important}
ul.pagination{position:relative;top:0}
}
.col-lg-8 .jobs-frame .card-job strong.pric{font-size:18px!important;position:relative;right:96px;min-width:194px}
.col-lg-8 .jobs-frame .card-job span.tagses{position:relative;right:70px}
.col-lg-8 .jobs-frame .card-job strong.loc-txt{position:relative;right:27px;min-width:140px}
@media (min-width:576px){
.section-theme-10 .jobs-frame .taglist{margin:0 -15px 0 -16px}
}
.searchfome{padding:11px 22px 10px 22px}
.searcicon{margin-bottom:5px!important}
.row-suit-post{gap:15px;margin:0}
.job-card-suit{width:calc(50% - 15px)}
/*.job-card-suit .btn{background:0 0!important}*/
.job-card-suit .btn:hover{background:var(--colorPrimary)!important}
.discover-post{height:100%!important}
.section-theme-16 .discover-post .amount strong{font-size:13px!important}
.mpicon{margin-left:-5px!important}
.row-suit-post{justify-content:space-between}
.trendingjob .jobs_info_holder .amount strong{font-size:13px!important}
.trendingpost{height:100%!important}
.fontsz{font-size:15px!important}
.small{color:#666!important}
.featurepost{width:250px}
.section-theme-12.freelancepost{background-color:transparent!important}
.featured-jobs-carousel-end .talentbox{margin:10px 0}
.openjobs{width:calc(50% - 15px)!important}
.bgtransparnt{background:0 0!important}
.demand-circlehub{padding:0!important}
.easiestpost{height:100%!important}
.kcolb-sboj{padding:0!important}
.classicsalary{font-size:16px!important}
.whitecolor{position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:none}
.y4white{filter:url(#colorize)}
.cat-style img{width:58px;height:58px}
.section-theme-4 .cat-box .dream img{width:58px!important;height:58px!important}
.wrape-style img{width:49px}
.pbt26{padding-bottom:26px !important;}
.dropdown-toggle{cursor:pointer;}
.jobcircle-defu-nav > li {
    padding: 0 20px !important;
}
/*@media (min-width: 1000px) {*/
/*  .subvisual-block {*/
/*      min-height: 530px;*/
/*  }*/
/*}*/
.jobcircle-defu-nav .children,
ul.navigation .dropdown-menu {
  overflow: visible;
}
.jobcircle-defu-nav .children > li > a {
  display: block;
  width: 100%;
  padding: 7px 15px;
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.jobcircle-defu-nav .children > li > a:hover {
  background: #20ca6f;
  color: #fff;
}
.jobcircle-defu-nav li,
ul.navigation li {
  position: relative;
}
.jobcircle-defu-nav > li > .children li > .children,
ul.navigation > li > .dropdown-menu li > .dropdown-menu {
  left: 101%;
  top: 0;
  transform: none;
  opacity: 0;
  visibility: hidden;
}
.jobcircle-defu-nav > li > .children li:hover > .children,
ul.navigation > li > .dropdown-menu li:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
aside h2 {
  font-size: 28px;
}
aside.widget_block ol {
  padding: 0;
}
#nav-below .nav-previous {
  float: left;
}
#nav-below .nav-next {
  float: right;
}
#nav-below .nav-links {
  float: left;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}
.nav-links .prev.page-numbers,
.nav-links .next.page-numbers {
  width: auto;
  background: transparent;
}
.jobcircle-post-itm h3 {
  font-size: 26px;
  color: #000;
}
.jobcircle-post-itm h3 a {
  color: #000;
}
.jobcircle-post-itm h3 a:hover {
  color: #666;
}
.jobcircle-post-itm {
  margin: 0 0 35px;
  border-bottom: 1px solid #d0d0d0;
}
.aligncenter {
  margin: 0 auto;
  display: block;
}
.alignleft {
  float: left;
  margin-right: 1.5em;
}
.alignright {
  float: right;
  margin-left: 1.5em;
}
.wp-caption .wp-caption-text {
  font-size: 75%;
  padding-top: 5px;
  opacity: .8;
}
.wp-caption {
  max-width: 100%;
}
.column-wrapper blockquote p {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
td {
  border-width: 0 1px 1px 0;
}
td, th {
  padding: 8px;
}

table, td, th {
  border: 1px solid #c3c2c2;
  color: black;
}
dd {
  margin: 0 1.5em 1.5em;
}
pre {
  background: rgba(0,0,0,.05);
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  margin-bottom: 1.5em;
  padding: 20px;
  overflow: auto;
  max-width: 100%;
}
.comment-form-cookies-consent {
  display: flex;
  gap: 5px;
  align-items: center;
}
.comment-form-cookies-consent label {
  font-size: 14px;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.page-links a {
  text-decoration: underline;
}
.section-theme-12.companies-block .textbox .h6 {
    color: #20ca6f !important;
}
.footer-theme-14 .social_links li a i {
    font-size: 15px;
    color: #fff;
    margin: 0;
}
.feartic-blog {
padding-top:50px;
}
.clients-testimonials-slider blockquote .logo {
    height: auto;
}
.footer-theme-6 .btn {
    border-radius: 10px !important;
    font-size: 17px !important;
    padding: 10px 28px !important;
    color: #2c2c2c !important;
}
/*@media(max-width: 767.98px){*/
/*.section-theme-3.section-newsletter .form-newsletter .btn {*/
     /*margin: 73px 0 0 !important;   */
/*}*/
/*}*/
@media (min-width: 992px){
    .classicnewslatter .wpcf7-form-control-wrap{
     width: 142%; 
     display: inline-block; 
     margin-top: 7px;
    }
}
.footer-theme-4 .pri-footer-top .wpcf7-form-control{
    width:94%;
}
.footer-theme-4 .pri-footer-top p{
    display: flex;
    flex-wrap: wrap;
}
.footer-theme-11 .pri-footer #keep_in_touch-2 .btn{
height:60px !important;
}
.footer-theme-9 .subscription .subscription-form input{
width: 94% !important;
}
.footer-theme-9 .subscription .subscription-form .btn{
    padding: 25px 51px;
    width: auto;
    background: #3f71ef;
    font-size: 16px;
    line-height: 20px;
    color: white;
}
.footer-theme-9 .subscription .subscription-form p{
display:flex;
}
.section-theme-13 .featured-jobs-carousel-end .slidbor:hover {
    border-color: #d2d2d2;
}
.pagi-style .pagination-block {
    padding: 35px 0 !important;
}
@media (min-width: 1200px){
.header-theme-6 .navigation > li {
    padding: 0px 18px;
}
}
@media (min-width: 768px){
.form-newsletter p{
    display:flex;
}
}
a.btn.btn-green.btn-sm.jobcircle-link.jobcircle-user-pkg-buybtn {
    background: #34a853;
}
.btn-text.btn-hover:hover{
    color:#fafafa;
    background-color:#34A853;
}
.my-title{
    text-align:justify;
}
.order-date,.order-status,.order-total{
    color:#000000;
}
span.nobr{
    color:#000000;
}
.footer-copyright p a{
    padding-right: 4px;
}
/*For Dashborad*/
.sidebar__menu-group ul.sidebar_nav li:first-child a {
    padding-top: 0px !important;
}
.sidebar__menu-group ul.sidebar_nav li a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.sidebar-collapse .sidebar__menu-group {
    height: 0px !important;
}

.jobcircle-formsubmit-btn {
    background-color: #20ca6f !important;
    border-radius: 25px !important;
    padding: 15px !important;
}
input#searchUserInput {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #b6b1b1;
}
.inbox .search-conversation .conversations li .ico-holder {
    border-radius: 50%;
    min-width: 54px;
    height: 54px;
}
.inbox .display-msg .box-holder .typing-box .typing-area .ico-holder {
    max-width: 28px;
}
.inbox .display-msg .box-holder .typing-box .typing-area {
width:75%;
height: 130px;
}
textarea#jobcircle_message {
    width: 100%;
}
.jc-mrgn {
    display: flex !important;
}
.jc-mrgn span i {
    display: absolute !important;
    margin: 25px 0 0 -45px !important;
}
#loginmodal .jobcircle-user-form .form-group span {
    position: absolute !important;
    right: 4px !important;
    top: 36px !important;
    color: #bbb8b8 !important;
    padding: 3px 10px 0 0px !important;
    border-radius: 0 35px 35px 0px !important;
    cursor: pointer !important;
    background-color: #ffffff !important;
	}
.jc-mrgns {
    display: flex !important;
}
.jc-mrgns span i {
    position: absolute !important;
    margin: 29px 0 0 -45px !important;
    color: gray;
}
.jc-mrgns input{
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    margin: 0 0 15px;
    opacity: 0.85;
    display: inline-block;
    /* padding: 0px 0 0 30px; */
    background-color: #fff;
    margin: 15px 0 0 150px !important;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

@media (max-width:767px){
    .jc-mrgns input{
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    margin: 0 0 15px;
    opacity: 0.85;
    display: inline-block;
    /* padding: 0px 0 0 30px; */
    background-color: #fff;
    margin: 5px 0 0 125px !important;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}
}

.jc-lbl {
padding: 20px 0 7px 0 !important;
    position: absolute !important;
    margin: 5px 0 0 0 !important;

}
.inbox .display-msg .mailbox .heading .jobcircle_pdm {
    padding: 25px 30px;
    border-left: 1px solid #e3e8ea;
}
.featured-category-box:hover .myclass{
color:white;
}
/*.featured-category-box:hover .subtitle a{ */
/*color:white;*/
/*}*/
@media (max-width:575px){
.job-card-suit {
  width: calc(100% - 0px);
}
.jobs_infos_wraps{
    padding:0 10px;
}
.openjobs {
  width: calc(100% - 0px) !important;
}
}
@media (max-width: 767.98px) {
  .filters-sidebar {
    width: 302px !important;
  }
  .section-theme-1 .filter-box .checkbox-list {
  overflow-y: scroll;
}
}
.slider-remover-class .jobs-listing-slider button.slick-prev.slick-arrow{
    display:none !important;
}
.slider-remover-class .jobs-listing-slider button.slick-next.slick-arrow{
    display:none !important;
}
.pagination-block{
   padding: 30px 0 30px 0px !important;
}
#featured-slide-show .featured-slide-margin{
    margin: 30px 0 !important;
}
.talented-expert-block #slider-remove .slick-slide{
    padding: 30px 10px !important;
}
.talented-expert-block #slider-remove .slick-slide .image-holder img{
    height: 275px !important;
}
#trending-view-slider .wrap-slide{
    padding:30px 0 !important;
}
.trending-view-slider-section {
    padding: 100px 0 30px 0 !important;
}
.candidate-great-view-section{
    padding-bottom:30px !important;
}
.news-acticles-carousel.my-article{
    grid-template-columns: auto auto !important;
}
.acticles-slider .my-slider{
    gap: 22px;
    display: grid;
    row-gap: 26px;
    grid-template-columns:auto !important;
}

.recent-articles-block .acticles-carousel.my-post{
    display: grid !important;
     grid-template-columns: auto auto !important;
    gap: 30px !important;
}
.article_info_row.my-discover{
    margin: 0 -17px 83px;
    display: flex;
    flex-wrap: wrap;
}
/*this css for dashboard msg emoji*/
#emoji-container {
    display: none;
    position: absolute;
    bottom: 233px; /* Adjust as needed */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.emoji-button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}
.emoji-button:hover {
    transform: scale(1.2);
}
/*Author ki post ky liyay*/ 
.acticles-carousel.author-posts{
    margin: 100px 0 50px 0 !important;
} 
/*for banner */
.subvisual-block.subvisual-theme-1 .subvisual-textbox img{
    display:none !important;
}
.subvisual-block.subvisual-theme-1 .breadcrumb-nav .breadcrumb-item.active img{
    display:none !important;
}
@media (min-width: 768px) {
    .subvisual-block.mg-km {
        min-height: 300px;
    }
}
@media (min-width: 992px) {
    .subvisual-block.mg-km {
        min-height: 350px;
    }
}
@media (min-width: 1200px) {
    .subvisual-block.mg-km {
        min-height: 450px;
    }
}
/* For Employer Detai Review comment */

.jobcircle-reviews-listing .jobcircle-review-content-box{
    border-radius: 5px !important;
    border: 1px solid #d8d8d8 !important;
    padding: 30px !important;
}
.jobcircle-reviews-listing .jobcircle-review-content-box .author-thumbnail{
    width: 93px !important;
    margin-top: 10px !important;
}
.jobcircle-reviews-listing .jobcircle-review-content-box .author-thumbnail img{
    width: 100% !important;
    height: auto !important;
    display: block !important;
}
.jobcircle-reviews-listing .jobcircle-review-content-box .review-flex{
    display: flex !important;
    column-gap: 129px !important;
    padding: 13px 20px 20px 20px !important;
}
.jobcircle-reviews-listing .jobcircle-review-content-box .reivew-feedback{
    padding: 1px 20px 20px 20px !important;
    display: flex !important;
}
.jobcircle-reviews-listing .jobcircle-review-content-box .reivew-feedback P{
    margin:0px !important;
}
.jobcircle-reviews-listing .jobcircle-review-content-box .justify-content-between{
    margin-top: -17px !important;
    margin-left: 19px !important;
    margin-bottom: 0px !important;
}
/* For Comment Reply */

.jobcircle-reply-comment{
    border-radius: 5px !important;
    border: 1px solid #d8d8d8 !important;
    padding: 30px !important;
}
.jobcircle-reply-comment .jobcircle-author-thumbnail{
    width: 93px !important;
    margin-top: 10px !important;
}
.jobcircle-reply-comment .jobcircle-author-thumbnail img{
    width: 100% !important;
    height: auto !important;
    display: block !important;
}
.jobcircle-reply-comment .jobcircle-review-info .reply-review{
    display: flex !important;
    column-gap: 129px !important;
    padding: 13px 20px 20px 20px !important;
}
.jobcircle-reply-comment .jobcircle-review-info .reply-review-feedback{
    padding: 1px 20px 20px 20px !important;
    display: flex !important;
}
.jobcircle-reply-comment .jobcircle-review-info .reply-review-feedback P{
    margin:0px !important;
}
.jobcircle-reply-comment .jobcircle-review-info button{
    margin-top: -17px !important;
    margin-left: 19px !important;
    margin-bottom: 0px !important;
    display: flex;
}